:root {
    --bs-body-color: #fff;
    --bs-body-bg: #212529;
}

.left-section {
    background-color: rgba(0, 0, 0, 0.3);
}

.right-section {
    background-color: rgba(0, 0, 0, 0.6);
}

@font-face {
    font-family: ailerons;
    src: url(../assets/fonts/Ailerons-Typeface.otf);
}

.ailerons {
    font-family: ailerons, Arial, Helvetica, sans-serif !important;
    font-size: 32px !important;
}

.navbar-nav .nav-item:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.35);
 }
 
 @media (max-width: 768px) {
   .navbar-nav .nav-item:not(:last-child) {
     border-right: none;
   }
 }